.spolecznosc-content {
    background-color: #2D2D2D;
    padding: 20px;
    font-size: 14px;
    border-radius: 10px;
    color: #FFFFFF;
}

.spolecznosc-content h2, .spolecznosc-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.spolecznosc-content p {
    line-height: 1.5;
}

.log-table-container {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px;
}

#logTable {
    width: 100%;
    border-collapse: collapse;
}

#logTable th, #logTable td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #444;
}

#logTable th {
    background-color: #3D3D3D;
    position: sticky;
    top: 0;
    z-index: 1;
}

#logTable td {
    background-color: #2D2D2D;
}
