.spolecznosc-content {
    background-color: #2D2D2D;
    padding: 20px;
    font-size: 14px;
    border-radius: 10px;
    color: #FFFFFF;
}

.spolecznosc-content h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.spolecznosc-content p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.table-wrapper {
    overflow-x: auto;
    max-height: 440px; /* 10 wierszy (40px) + nagłówek (~40px) */
    overflow-y: auto; /* Włącza przewijanie pionowe */
    border: 1px solid #444; /* Cienka ramka dla kontrastu */
    border-radius: 5px;
}

.table-container {
    min-width: 100%;
}

#logTable {
    width: 100%;
    border-collapse: collapse;
}

#logTable th, #logTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}

#logTable th {
    background-color: #333;
    position: sticky; /* Nagłówki przyklejone do góry */
    top: 0;
    z-index: 1;
}

#logTable tr:nth-child(even) {
    background-color: #2a2a2a;
}

#logTable tr:hover {
    background-color: #3a3a3a; /* Efekt hover dla interaktywności */
}
